body {
    margin: 0;
}

.ulAdm {
    display: inline-block;
    list-style-type: none;
}


a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

nav {
    background-color: orange;
    padding: 5px;
}

#nav {
    display: inline
}

main {
    flex: 1;
    overflow-y: auto;
    margin: 2%
}

table {
    border: 1px solid black;
}

td {
    width: 100px;
    border: 1px solid black;
}

tr {
    width: 100px;
    height: 50px;
    text-align: center;
    vertical-align: top
}

h1 {
    text-align: center;
    font: 60px "Fira Sans", sans-serif
}

p {
    font: 25px "Fira Sans", sans-serif;
    text-align: center
}

#Accueil {
    text-align: center;
    color: orange;
    margin: 40px;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
}

    /* Sidenav menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #111;
        }

    .sidenav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    /* Active class */
    .sidenav.active {
        left: 0;
    }

    /* Close btn */
    .sidenav .close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }

/* Icône burger */
.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    justify-content: center;
}

.btn-nav:hover {
    opacity: 0.7;
    /*float: right;*/
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.5rem 2rem;
    margin: 0;
    border: solid 1px black;
    border-radius: 10px;
}

.btn-nav {
    /*float: right;*/
    /* margin: 1%;
    padding: 1%;*/
    border: solid 1px black;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    padding: 0.5rem 2rem;
    margin: 0;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 14px;
    border-radius: 500px;
    overflow: hidden;
}

.right {
    float: right
}


.center-gridview {
    margin: auto;
    width: 50%; /* Ajustez la largeur selon vos besoins */
}

    .center-gridview table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .center-gridview th, .center-gridview td {
        border: 1px solid black;
        vertical-align: middle;
    }

.btn {
    display: inline-block; 
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .btn a {
        background-color: orange;
        border: 1px solid orange;
        vertical-align: middle;
        padding: 5px;
        position: relative;
        height: 2em;
        transition: 0.5s;
        font-size: 18px;
        letter-spacing: 0.05rem;
        font-weight: 500;
        border-radius: 0.4em;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        display: table-cell;
        vertical-align: middle;
    }

        .btn a p {
            position: absolute;
            top: 0.4em;
            left: 1.2em;
            margin: 0;
            padding: 0;
            transition: .5s;
            color: #0077b5;
        }

        .btn a:hover p {
            left: 0.6em;
        }

        .btn a:hover {
            background-color: white;
        }

.customButton {
    background-color: white;
    border: 1px solid orange;
    padding: 5px;
    position: relative;
    width: 7.2em;
    height: 2em;
    transition: 0.5s;
    font-size: 17px;
    border-radius: 0.4em;
    vertical-align:central;
}

    .customButton:hover {
        background-color: orange;
    }

.customGridView {
    margin: auto;
    width: 80%; /* Ajustez la largeur selon vos besoins */
}

    .customGridView table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }

    .customGridView th, .customGridView td {
        border: 1px solid black;
        vertical-align: middle;
        padding: 3px;
    }


.container {
    margin: auto;
    max-width: 375px;
    background: #ffcc80;
    background: linear-gradient(0deg, #ffa726 0%, #ffffff 110%);
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
    text-align: center;
}


.form {
    margin: auto;
}

    .form input {
        width: 80%;
        background: white;
        margin-bottom: 1rem;
        border: none;
        padding: 15px 20px;
        border-radius: 20px;
        box-shadow: #ffb74d 0px 10px 10px -5px;
        border-inline: 2px solid transparent;
    }

        .form input:focus {
            outline: none;
            border-inline: 2px solid #e65100;
        }

select {
    
    width: 91%;
    background: white;
    margin-bottom: 1rem;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    box-shadow: #ffb74d 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
}



option {
    border-radius: 20px;
    min-height:40px;
    box-shadow: #ffb74d 0px 10px 10px -5px;
}

.jourSemaine {
    margin: auto;
    max-width: 375px;
    background: #ffcc80;
    background: linear-gradient(0deg, #ffa726 0%, #ffffff 110%);
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
}
.jourSemaine h4{
    text-align:center;
}
.row3{
    display:flex;
}

.text-danger{
    color:red;
}